body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: centre;
}

header {text-align:center
}

img {margin:auto;

}
nav {
  padding:10px;
  background-color: grey;
}
figcaption {
  font-size: 20px;
  text-align: centre;
}
p {
  width:800px;
  text-align: centre;

}
div {
  float:left
}
footer {
  background-color:white
  text-align: centre;
  width:25px;
}
